.control-center {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    right: unset;
    transform: translateX(-100%);
    background-color: var(--control-background);
    border-left: 1px solid var(--control-border-color);
  }
}

.control-center__item {
  display: flex;
  align-items: flex-end;
}

.control-center__scroll {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    padding-bottom: 25px;
  }
}

.control-center__link {
  font-family: $fonts-secondary;
  font-size: 12px;
  color: var(--control-text-color);
  @include links-decoration-bottom-line();
  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 14px;
  }

}

.control-center__link.control-center__active {
  color: var(--active-word);
}
