.loading-spinner {
  min-height: 100vh;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  background: $background-white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.loading-spinner__item {
  width: 75px;
  height: 75px;
  //margin: 0 auto;
  //margin-top: 50px;
  position: relative;
  transform: rotateZ(45deg);

  .loading-spinner__item-cube {
    position: relative;
    transform: rotateZ(45deg);
  }

  .loading-spinner__item-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
  }

  .loading-spinner__item-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-black;
    animation: foldloading-spinner__item 2.4s infinite linear both;
    transform-origin: 100% 100%;
  }

  .c2 {
    transform: scale(1.1) rotateZ(90deg);
  }

  .c3 {
    transform: scale(1.1) rotateZ(180deg);
  }

  .c4 {
    transform: scale(1.1) rotateZ(270deg);
  }

  .c2:before {
    animation-delay: 0.3s;
  }

  .c3:before {
    animation-delay: 0.6s;
  }

  .c4:before {
    animation-delay: 0.9s;
  }

  @keyframes foldloading-spinner__item {
    0%, 10% {
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%,
    75% {
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%,
    100% {
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
}
