.post-block-07 {
  display: flex;
  flex-wrap: wrap;
  //justify-content: flex-end;
  justify-content: flex-start;
  flex-basis: 0;
  flex-grow: 1;
  padding: 30px 30px 0 30px;
  //background-color: var(--main-background);

  @media (min-width: $tablet-width) {
	align-content: flex-start;
    padding: 50px 0 0 50px;
  }
  .navigation.pagination {
	padding-bottom: 30px;
	@media (min-width: $tablet-width) {
	  padding-bottom: 50px;
	}
  }
  .advertise {
	padding-bottom: 30px;
	@media (min-width: $tablet-width) {
	  padding-bottom: 50px;
	}
  }
}

.post-block-07__wrapper-link {
  margin: 30px 30px 0 30px;
  text-align: right;
  order: 1;
}

.post-block-07__item {
  position: relative;
  display: flex;
  flex-direction: column;
  @include indents-zero;
  background-color: #fff;
  color: inherit;
  margin-bottom: 30px;
  width: 100%;

  @media (min-width: $sm-screen) {
    width: calc(50% - 15px);
  }

  &:nth-of-type(odd) {

    @media (min-width: $sm-screen) {
      margin-right: 15px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 25px;
    }

    @media (min-width: $desktop-width) {

    }

    @media (min-width: $large-desktop-width) {

    }
  }

  &:nth-of-type(even) {
    @media (min-width: $sm-screen) {
      margin-left: 15px;
    }

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    width: calc(50% - 25px);
    margin-bottom: 50px;
  }
}

.post-block-07__img-item {
  width: 100%;
}

.post-block-07__item:hover {
  .post-block-07__img {
    overflow: hidden;
  }

  .post-block-07__img-item {
    transition: all ease-in 0.3s;
    transform: scale(1.1);
  }

  .post-block-07__img a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(to top, rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0));
    z-index: 1;
    opacity: 1;
    animation: links-gradient 0.3s forwards;
  }

  .post-block-07__header-link {
    border-bottom-width: 0.5px;
    border-bottom-color: rgba($text-color-dark, 0.8);
    border-bottom-style: solid;
    color: rgba($text-color-dark, 0.8);
  }
}

.post-block-07__img {
  @include indents-zero;
  position: relative;
}

.post-block-07__date {
  position: absolute;

  left: -5px;
  top: 0;
  font-size: 10px;

  font-family: $fonts-primary;
  color: inherit;
  transform: rotate(90deg);
  transform-origin: 0 0;

  @media (min-width: $tablet-width) {
    bottom: unset;
    left: -10px;
    font-size: 12px;
  }
}

.post-block-07__date-item {
  @include indents-zero;
  white-space: nowrap;
  a {
	position: relative;
	color: inherit;

	&:after {
	  content: "";
	  position: absolute;
	  display: flex;
	  opacity: 0;
	  bottom: -3px;
	  left: 0;
	  height: 2px;
	  background-color: var(--active-word);
	  width: 2px;
	  transition: all ease-out 0.3s;
	}
	&:hover {
	  &:after {
		content: "";
		opacity: 1;
		width: 100%;
		transition: all ease-out 0.3s;
	  }
	}
  }
}

.post-block-07__header {
  @include indents-zero;
  text-align: right;
  order: 2;
  padding: 30px 30px 30px 50px;
  font-size: 14px;
  line-height: 1.4;
  @media (min-width: $tablet-width) {
    padding: 30px;
  }

}

.post-block-07__header-link {
  font-family: $fonts-secondary;
  color: $text-color-dark;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  @include links-decoration(rgba($text-color-dark, 0.8));

  @media (min-width: $tablet-width) {
    font-size: 1.57vw;
  }

  @media (min-width: $large-desktop-width) {
    font-size: 25px;
  }
}
