.post-block-03 {

  position: absolute;

  @media (min-width: $tablet-width) {
    position: fixed;
    width: 50%;
    right: 0;
  }

}

.post-block-03__wrapper-link {
  margin-bottom: 21px;
  text-align: right;
}

.post-block-03__img {
  position: relative;
  @include indents-zero;
  background-color: var(--main-background);
}

.post-block-03__img-item {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 100% 0;
  overflow: hidden;
  background-color: var(--main-background);
}

.post-block-03__widget .post-block-03__active-word {
  color: var(--active-word);
}

.post-block-03__widget {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: rgba($background-dark, 0.7);
  padding: 30px;

  @media (min-width: $tablet-width) {
    min-height: 25vh;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: auto;
    right: auto;
  }
}

.post-block-03__widget-link-wrapper {
  text-align: right;
}

.post-block-03__widget-title {
  font-size: 14px;
  line-height: 1.4;
  text-align: right;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: $tablet-width) {
    font-size: 1.57vw;

  }


  @media (min-width: $large-desktop-width) {
    font-size: 25px;
  }
}

.post-block-03__widget-title-link {
  font-size: inherit;
  line-height: inherit;
  font-family: $fonts-secondary;
  font-weight: bold;
  text-decoration: none;
  color: var(--widget-text-color);
  @include links-decoration(rgba($text-color-white, 0.8));

}

.post-block-03__widget-footer {
  margin-top: 3px;
  font-size: 12px;
  line-height: 14px;
  font-family: $fonts-primary;
  color: var(--widget-text-color);
  text-align: right;
}

.post-block-03__widget-comments-count {
  margin-left: 2px;
  min-width: 83px;
  display: inline-block;
}

.post-block-03__widget-date {
  margin-left: 24px;
}
