.sidebar {
  will-change: min-height;
  min-height: 100vh;
  .widget-title {
	position: relative;
	background-color: transparent !important;
	color: black;
	//border-bottom: 1px solid #000000;
	display: flex;
	align-items: center;

	&::before {
	  content: "";
	  flex-grow: 1;
	  margin-right: 10px;
	  background-color: #f0506e;
	  height: 1px;
	}

	//&::after {
	//  content: "";
	//  width: 1px;
	//  background-color: black;
	//  height: 10px;
	//  display: inline-block;
	//  position: absolute;
	//  right: 0;
	//  bottom: -10px;
    //
	//}

  }

  h2 {
	font-family: var(--fonts-secondary);
	background-color: $text-color-dark;
	color: #fff;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 600;
	//letter-spacing: 1px;
	//text-transform: uppercase;
	margin-bottom: 30px;
	@media (min-width: $tablet-width) {
	  flex-grow: 0;
	  //font-size: 1.25vw;
	}

	@media (min-width: $large-desktop-width) {
	  //font-size: 20px;
	}
  }
  //.widget_monopress_advertise_widget {
  //margin-bottom: 0;
  //
  //}
}

.sidebar__inner {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  //flex-direction: column;
  //@media (min-width: $tablet-width) {
  //flex-direction: unset;
  //}
}

.sidebar-parent {
  .sidebar {
	order: 2;
	@media (min-width: $tablet-width) {
	  order: unset;
	  height: unset !important;
	}
  }
}

//.Container {
//  //width: 360px;
//}
