.breadcrumbs {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  color: #999999;
  width: 100%;

  &::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--dividing-line-color);
  }

  a {
	transition: all ease-out 0.3s;
	color: inherit;
  }
  a:hover {
	transition: all ease-out 0.3s;
	color: #676767;
  }
  &--inner {
	padding-left: 0;
	margin-bottom: 30px;
  }
  &--inner-nottobbrdr {
	padding-left: 0;

	@media (min-width: $tablet-width) {
	  margin-bottom: 30px;
	  padding-top: 0;
	}
  }
}
