.date {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 12px;
    line-height: 28px;
    color: var(--sidebar-text-color);
    white-space: nowrap;

    &--hor {
      order: 1;
      margin-right: 24px;
    }
  }
}
