.mainpage {
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 50px;
  .post-block-06__item, .post-widget__item {
	padding: 0 !important;
	align-content: flex-start;
  }
}

.mainpage__section {
  padding: 0 !important;
  margin: 0 50px 0 50px;

}
