.page-header {
  width: 100%;
  background-color: var(--header-background);
  color: var(--header-text-color);
  &--70 {
	min-height: 59px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $tablet-width) {
    position: unset;
    padding-left: 30px;
  }
}

@media (min-width: 601px) {
  .admin-bar header.uk-sticky-fixed {
	top: 46px !important;
  }
}

@media (min-width: 783px) {
  .admin-bar header.uk-sticky-fixed {
	top: 30px !important;
  }
}
