.page {
  .page__item {
	order: 1;
	padding: 30px 30px 0 30px;
	justify-content: flex-start;
	height: unset;

	@media (min-width: $tablet-width) {
	  order: unset;
	  padding-top: 30px;
	}
  }
  .page__sidebar {
	order: 2;
	@media (min-width: $tablet-width) {
	  order: unset;
	}
  }
  .page-sidebar__inner {
	flex-direction: column;
	padding-top: 0;
	@media (min-width: $tablet-width) {
	  order: unset;
	}
  }

  .page__content-wrapper {
	padding-bottom: 30px;
  }
  .page__content {
	text-align: left;
  }
  .page__heading {
	text-align: left;
	margin-bottom: 30px;
	font-size: 35px;
  }
  .page__links {
	margin-top: 30px;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;

	&::before {
	  content: "";
	  position: absolute;
	  height: 1px;
	  top: 0;
	  left: 0;
	  right: 0;
	  background-color: var(--dividing-line-color);
	}

	.post-page-numbers {
	  min-width: 33px;
	  text-align: center;
	  border: 1px solid #eaeaea;
	  padding: 5px 6px;
	  display: inline-block;

	  &:first-child {
		margin-left: 10px;
	  }
	}
	a:hover {
	  background-color: #444444;
	  color: #eaeaea;
	}
	.current {
	  background-color: #cccccc;
	}
  }

  .comment-respond:first-child {
	padding-top: 0;
	.comment-reply-title {
	  margin-top: 0 !important;
	}
  }
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
}
