.page-main {
  @include indents-zero;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  //align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  &--home-03 {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &--home-07 {
    flex-basis: 0;
    flex-grow: 1;
  }

  &--post-08 {
    flex-direction: row;
  }

  &--home-09 {
    //width: 100%;
    align-items: stretch;
  }

  &--home-11 {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }

  &--menu-12 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $background-light-gray;
  }

  &--home-19 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--post-20 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &--home-21 {
    display: flex;
    width: 100%;
  }

  &--about-06 {
    @media (max-width: $mobile-width-only) {
      .control-right--vpright {
        padding: 15px 30px 0;
        position: absolute;

        right: 51px;
        top: 233px;
        transform: rotate(90deg);
        transform-origin: bottom right;
      }
      .vertical-main-sidebar__right {
        padding-right: 60px !important;
      }
    }
  }
  &--about-10 {
    @media (max-width: $mobile-width-only) {
      .control-right--vpright {
        padding: 15px 30px 0;
        position: absolute;

        right: 51px;
        top: 233px;
        transform: rotate(90deg);
        transform-origin: bottom right;
      }
      .vertical-main-sidebar__right {
        padding-right: 60px !important;
      }
    }
  }
  &--about-17 {
    @media (max-width: $mobile-width-only) {
      .control-right--vpright {
        padding: 15px 30px 0;
        position: absolute;

        right: 51px;
        top: 233px;
        transform: rotate(90deg);
        transform-origin: bottom right;
      }
      .vertical-main-sidebar__right {
        padding-right: 60px !important;
      }
    }
  }
  &--post-15 {
    @media (max-width: $mobile-width-only) {
      .control-right--vpright {
        padding: 15px 30px 0;
        position: absolute;

        right: 51px;
        top: 233px;
        transform: rotate(90deg);
        transform-origin: bottom right;
      }
      .vertical-main-sidebar__right {
        padding-right: 60px !important;
      }
    }
  }
}
