.portfolio {
  flex-grow: 1;
  background: var(--main-background);
  flex-direction: column;
  min-height: 100%;
  position: relative;

  &--masonry {
    width: 100%;
    padding: 30px;

    .uk-container {
      padding: 0;
    }

    @media (min-width: $tablet-width) {

      padding: 20px 80px 30px 30px;
    }

    .portfolio__list {

    }

    .portfolio__item {

    }

    .portfolio__img {
    }

    .portfolio__link {
      background: $background-dark;
      color: $text-color-white;

      &:hover {
        color: $text-color-white;
      }

      &:hover {
        .portfolio__img {
          opacity: 0.8;
          transition: all ease-in-out 0.3s;
        }
      }
    }

    .portfolio__sort-item {
      .portfolio__sort-link:hover {
        background: none;
        color: var(--header-text-color);
        border-bottom: none;
        position: relative;

        &::before {
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          display: block;
          position: absolute;
          background: linear-gradient(135deg, rgba(128, 64, 203, 1), rgba(50, 61, 212, 1));
        }

      }

      &.uk-active .portfolio__sort-link {
        background: none;
        color: var(--header-text-color);
        border-bottom: none;
        position: relative;
        &::before {
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          display: block;
          position: absolute;
          background: linear-gradient(135deg, rgba(128, 64, 203, 1), rgba(50, 61, 212, 1));
        }

      }
    }
  }
  &--grid {

    padding: 30px;
    //padding-top: 60px;
    width: 100%;
    margin-top: 75px;
    border-top: 1px solid $background-dark;

    @media (min-width: $tablet-width) {
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-top: 0;
      flex-shrink: 0;
      flex-basis: 0%;
      min-height: 100vh;
    }

    @media (min-width: $tablet-width) {
      margin-right: 5%;
    }

    .portfolio__link {
      background: $background-white;
      color: $text-color-dark;

      &:hover {
        color: $text-color-dark;
        //box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.12);
      }

      &:hover {
        .portfolio__img {
          opacity: 0.5;
          transition: all ease-in-out 0.3s;
        }
      }
    }

  }

  &--grid-nowrap {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
    .control-right--portfolio {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--inverse {
    .portfolio__link {
      background: $background-dark;
      color: $text-color-white;
      &:hover {
        color: $text-color-white;
      }
      &:hover {
        .portfolio__img {
          opacity: 0.5;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }

}
