.post-navigation {

  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	background-color: var(--dividing-line-color);
  }

  &::after {
	content: "";
	position: absolute;
	width: 1px;
	top: 0;
	bottom: 0;
	left: 50%;
	background-color: var(--dividing-line-color);
  }

  .nav-links {
	display: flex;
	justify-content: space-between;

	.nav-previous, .nav-next {
	  width: 50%;
	  a {
		font-size: 12px;
		&:hover {
		  text-decoration: underline;
		  color: var(--active-word);
		}
	  }
	}
	.nav-previous {
	  text-align: left;
	  position: relative;
	  padding-right: 20px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  & a {
		position: relative;
		padding-left: 50px;
	  }
	  & a:hover::before {
		color: #ffffff;
		border: 2px solid var(--active-word);
		background-color: var(--active-word);
		transition: all ease-in-out 0.3s;
	  }
	  & a::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		font-family: "FontAwesome";
		font-weight: 900;
		content: "\f104";
		padding-right: 3px;
		margin-right: 10px;
		color: #dddddd;
		//border-radius: 50%;
		border: 2px solid #ddd;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all ease-in-out 0.3s;
	  }
	}
	.nav-next {
	  text-align: right;
	  position: relative;
	  padding-left: 20px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: flex-end;

	  & a {
		position: relative;
		padding-right: 50px;
	  }
	  & a:hover::after {
		color: #ffffff;
		border: 2px solid var(--active-word);
		background-color: var(--active-word);
		transition: all ease-in-out 0.3s;
	  }
	  & a::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		font-family: "FontAwesome";
		font-weight: 900;
		content: "\f105";
		padding-left: 3px;
		color: #dddddd;
		//border-radius: 50%;
		border: 2px solid #ddd;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all ease-in-out 0.3s;
	  }
	}
  }

}
