.post-block-05 {
  width: 100%;
  //height: 100%;
  right: 0;
  position: absolute;
  bottom: 0;
  top: 60px;
  @media (min-width: $tablet-width) {

    overflow: hidden;
    position: fixed;
    width: 85.95%;
    bottom: unset;
    top: unset;
  }

}

.post-block-05__wrapper {
  position: relative;

}

.post-block-05__img {
  @include indents-zero;
  overflow: hidden;
  height: 100%;
  @media (min-width: $tablet-width) {

    height: 100vh;
  }
}

.post-block-05__img-item {
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.post-block-05__wrapper-link {
  text-align: right;
  order: 1;
}

.post-block-05__item {
  position: absolute;
  //width: 100%;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba($background-white, 0.8);

  @media (min-width: $tablet-width) {
    width: 43%;
    bottom: 50px;
    right: 50px;
    left: unset;
  }
}

.post-block-05__date {
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 12px;
  font-family: $fonts-primary;
  color: var(--widget-text-color);
  transform: rotate(90deg);
  transform-origin: 0 0;

  @media (min-width: $tablet-width) {
    left: -10px;
  }
}

.post-block-05__date-wrapper {
  @include indents-zero;
}

.post-block-05__header {
  @include indents-zero;
  text-align: right;
  order: 2;
  padding-top: 30px;
  line-height: 1.333;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 1.9vw;
  }

  @media (min-width: $large-desktop-width) {
    font-size: 30px;
  }
}

.post-block-05__header-link {
  font-family: $fonts-secondary;
  color: var(--widget-text-color);
  font-weight: bold;
  text-decoration: none;
  @include links-decoration(rgba($text-color-dark, 0.8));
  font-size: inherit;
  line-height: inherit;
}
