.post-block-02 {
  padding: 30px 30px 0 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;

  @media (min-width: $tablet-width) {
	padding: 50px 50px 0 50px;

	flex-basis: 0;
	align-items: flex-start;
	align-content: flex-start;
  }
  .navigation.pagination {
	padding-bottom: 30px;
	@media (min-width: $desktop-width) {
	  padding-bottom: 50px;
	}
  }
}

.post-block-02__item {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  flex-direction: column;

  @media (min-width: $sm-screen) {

	width: 50%;
	&:nth-child(odd) {
	  padding-right: 15px;
	}

	&:nth-child(even) {
	  padding-left: 15px;
	  @media (max-width: $mobile-width-only) {
		& .post-block-02__date {
		  left: 10px;
		}
	  }
	}
  }

  @media (min-width: $tablet-width) {
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 50px;

	&:nth-child(odd) {
	  padding-right: 0;
	}

	&:nth-child(even) {
	  padding-left: 0;
	}
  }
}

.post-block-02__item:hover {
  .post-block-02__img {
	overflow: hidden;
  }

  .post-block-02__img-item, img {
	transition: all ease-in 0.3s;
	transform: scale(1.05);
  }

  .post-block-02__img a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: linear-gradient(to top, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0));
	z-index: 1;
	opacity: 1;
	animation: links-gradient 0.3s forwards;
  }

  .post-block-02__header-link {
	border-bottom-width: 0.5px;
	border-bottom-color: rgba($text-color-dark, 0.8);
	border-bottom-style: solid;
	color: rgba($text-color-dark, 0.8);
  }
}

.post-block-02__img {
  @include indents-zero;
  width: 100%;

  @media (min-width: $tablet-width) {
	width: 60%;
  }
}

.post-block-02__img-item {
  height: auto;
  width: 100%;
}

@keyframes links-gradient {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 0.4;
  }
}

.post-block-02__date {
  order: 2;
  font-size: 12px;
  font-family: $fonts-primary;
  transform-origin: 0 0;
  text-align: right;
  background: $background-white;
  padding-right: 30px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
	background: unset;
	text-align: left;
	position: absolute;
	width: auto;
	top: 0;
	left: -10px;
	transform: rotate(90deg);
	padding: 0;
  }

}

.post-block-02__date-item {
  @include indents-zero;

  a {
	position: relative;
	color: inherit;

	&:after {
	  content: "";
	  position: absolute;
	  display: flex;
	  opacity: 0;
	  bottom: -3px;
	  left: 0;
	  height: 2px;
	  background-color: var(--active-word);
	  width: 2px;
	  transition: all ease-out 0.3s;
	}
	&:hover {
	  &:after {
		content: "";
		opacity: 1;
		width: 100%;
		transition: all ease-out 0.3s;
	  }
	}
  }
}

.post-block-02__footer {
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  z-index: 5;
  order: 3;

  @media (min-width: $tablet-width) {
	height: auto;
	margin-left: -25%;
	margin-top: 2%;
	width: 60%;
	order: unset;
  }

}

.post-block-02__footer-wrapper {

  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
	height: auto;
  }

}

.post-block-02__footer-bg {
  flex-grow: 1;
  background: $background-white;
  padding: 30px;
  height: 100%;

  @media (min-width: $tablet-width) {
	height: auto;
	padding: 20px;
  }
  @media (min-width: $desktop-width) {
	padding: 30px;
  }
}

.post-block-02__header {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.333;
  color: inherit;

  @media (min-width: $tablet-width) {
	margin-top: 26px;
	margin-bottom: 10px;
  }
}

.post-block-02__header-link {
  font-size: inherit;
  line-height: inherit;
  font-family: $fonts-secondary;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s all ease;
  @include links-decoration(rgba($text-color-dark, 0.8));

  @media (min-width: $tablet-width) {
	font-size: 1.88vw;
  }

  @media (min-width: $large-desktop-width) {
	font-size: 30px;
  }

}

.post-block-02__wrapper-link {
  margin-top: 5px;
  text-align: right;
}

.post-block-02__comments-count {
  margin-bottom: 0;
  font-size: 12px;
}
