.post-block-04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;

  @media (min-width: $tablet-width) {
	padding: 50px;
	align-content: flex-start;
	flex-basis: 0;
	flex-grow: 1;
  }
  & .navigation.pagination {
	padding-top: 30px;
	@media (min-width: $tablet-width) {
	  padding-top: 50px;
	}
  }
}

.post-block-04__wrapper-link {
  @include indents-zero;
  margin-bottom: 14px;
  text-align: right;
}

.post-block-04__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 49.4%;

  &:nth-child(odd) {
	width: 100%;
	@media (min-width: $sm-screen) {
	  margin-top: 50px;
	  width: 50%;

	}
	@media (min-width: $tablet-width) {
	  width: 53.4%;
	  padding-right: 0;
	  //padding-left: 35px;

	}
  }

  &:nth-child(even) {
	width: 100%;

	@media (min-width: $sm-screen) {
	  width: 45%;

	}
	@media (min-width: $tablet-width) {
	  width: 44.5%;
	  padding-left: 40px;
	}

  }

  &:nth-child(even) .post-block-04__header {
	font-size: 14px;
	line-height: 1.5;

	@media (min-width: $tablet-width) {
	  font-size: 1.247vw;
	}
	@media (min-width: $large-desktop-width) {
	  font-size: 20px;
	}
  }

}

.post-block-04__img {
  position: relative;
  flex-direction: column;
  display: flex;
  @media (min-width: $tablet-width) {
	font-size: 1.247vw;
  }
}

.post-block-04__item:hover {
  .post-block-04__img-link {
	display: block;
	position: relative;
	overflow: hidden;
  }

  .post-block-04__img-item {
	transition: all ease-in 0.3s;
	transform: scale(1.1);
  }

  .post-block-04__img-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: linear-gradient(to top, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0));
	z-index: 1;
	opacity: 1;
	animation: links-gradient 0.3s forwards;
  }

  .post-block-04__header-link {
	border-bottom-width: 0.5px;
	border-bottom-color: rgba($text-color-dark, 0.8);
	border-bottom-style: solid;
	color: rgba($text-color-dark, 0.8);
  }
}

.post-block-04__img {
  @include indents-zero;
  @media (min-width: $tablet-width) {
  }
}

.post-block-04__date {
  font-size: 10px;
  font-family: $fonts-primary;
  text-align: right;
  white-space: nowrap;
  order: 4;
  padding-top: 30px;
  p {
	margin: 0;
  }
  a {
	position: relative;
	color: inherit;

	&:after {
	  content: "";
	  position: absolute;
	  display: flex;
	  opacity: 0;
	  bottom: -3px;
	  left: 0;
	  height: 2px;
	  background-color: var(--active-word);
	  width: 2px;
	  transition: all ease-out 0.3s;
	}
	&:hover {
	  &:after {
		content: "";
		opacity: 1;
		width: 100%;
		transition: all ease-out 0.3s;
	  }
	}
  }

  @media (min-width: $thousand-width) {
	//white-space: unset;
	padding-bottom: unset;
	padding-top: unset;
	position: absolute;
	transform: rotate(90deg);
	transform-origin: 0 0;
	font-size: 12px;
	top: 0;
	left: -13px;
	text-align: left;
	order: unset;

  }
}

.post-block-04__header {
  @include indents-zero;
  text-align: right;
  font-size: 16px;
  line-height: 1.4;
  padding: 15px 0 30px 30px;

  @media (min-width: $tablet-width) {
	font-size: 1.57vw;
	padding: 20px 0;
  }

  @media (min-width: $large-desktop-width) {
	font-size: 25px;
  }
}

.post-block-04__header-link {
  font-family: $fonts-secondary;

  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  @include links-decoration(rgba($text-color-dark, 0.8));
}

.post-block-04__img-item {
  width: 100%;
}

.post-block-04__comments-count {
  margin-bottom: 0;
  text-align: right;
  font-size: 12px;
  color: #979797;
  &::before {
	content: "";
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 2px;
	width: 4px;
	height: 4px;
	background-color: #ddd;
  }
}
