.post-block-04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
  }
}

.post-block-04__wrapper-link {
  @include indents-zero;
  margin-bottom: 14px;
  text-align: right;
}

.post-block-04__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 49.4%;

  &:nth-child(odd) {
    width: 100%;
    @media (min-width: $sm-screen) {
      margin-top: 45px;
      width: 50%;

    }
    @media (min-width: $tablet-width) {
      width: 53.4%;
      padding-right: 0;
      padding-left: 35px;

    }
  }

  &:nth-child(even) {
    width: 100%;

    @media (min-width: $sm-screen) {
      width: 45%;

    }
    @media (min-width: $tablet-width) {
      width: 44.5%;
      padding-left: 40px;
    }

  }

  &:nth-child(even) .post-block-04__header {
    font-size: 14px;
    line-height: 1.5;

    @media (min-width: $tablet-width) {
      font-size: 1.247vw;
    }
    @media (min-width: $large-desktop-width) {
      font-size: 20px;
    }
  }

}

.post-block-04__img {
  position: relative;
}

.post-block-04__item:hover {
  .post-block-04__img {
    overflow: hidden;
  }

  .post-block-04__img-item {
    transition: all ease-in 0.3s;
    transform: scale(1.01);
  }

  .post-block-04__img a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(to top, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0));
    z-index: 1;
    opacity: 1;
    animation: links-gradient 0.3s forwards;
  }

  .post-block-04__header-link {
    border-bottom-width: 0.5px;
    border-bottom-color: rgba($text-color-dark, 0.8);
    border-bottom-style: solid;
    color: rgba($text-color-dark, 0.8);
  }
}

.post-block-04__img {
  @include indents-zero;
  @media (min-width: $tablet-width) {
  }

}

.post-block-04__date {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 18px;
  font-family: $fonts-primary;
  color: var(--header-text-color);
  transform: rotate(90deg);
  transform-origin: 0 0;
  @media (min-width: $tablet-width) {
    font-size: 12px;
    top: 44px;
    left: 28px;
  }

}

.post-block-04__header {
  @include indents-zero;
  text-align: right;
  font-size: 14px;
  line-height: 1.4;
  padding: 30px;
  padding-right: 0;
  @media (min-width: $tablet-width) {
    font-size: 1.57vw;
    padding: 20px 0;
  }

  @media (min-width: $large-desktop-width) {
    font-size: 25px;
  }
}

.post-block-04__header-link {
  font-family: $fonts-secondary;

  font-size: inherit;
  line-height: inherit;
  color: var(--header-text-color);
  font-weight: bold;
  text-decoration: none;
  @include links-decoration(rgba($text-color-dark, 0.8));
}

.post-block-04__img-item {
  width: 100%;
}
