.post-widget {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--widget-background);

  @media (min-width: $tablet-width) {
	flex-direction: column;
	width: 30.9%;
	min-height: 100%;

  }

  .sidebar__inner {
	background-color: var(--widget-background);
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-direction: row;
	width: 100%;
	padding: 30px;

	@media (min-width: $tablet-width) {
	  padding: 0;
	  //padding-top: 23px;
	  flex-direction: column;
	  min-height: calc(100vh - 80px);
	}
  }

  &--map {
	width: 100%;
	min-height: 50vh;
	@media (min-width: $tablet-width) {
	  min-height: unset;
	  width: 71% !important;
	  border-right: 1px solid var(--dividing-line-color);
	}
  }

  &--right-line {
	border-right: 1px solid var(--dividing-line-color);
  }
}

.sidebar.is-affixed .sidebar__inner {

  min-height: 100vh;
  @media (min-width: $tablet-width) {
	padding-top: 0;
	padding-bottom: 0;
  }

}

.sidebar.is-affixed .post-widget__item {

  justify-content: center;
  @media (min-width: $tablet-width) {

  }

}

.post-widget__item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  align-content: space-between;
  width: 100%;

  @media (min-width: $small-screen) {
	width: 50%;
	&:nth-child(odd) {
	  padding-right: 15px;
	}

	&:nth-child(even) {
	  padding-left: 15px;
	}
  }

  @media (min-width: $tablet-width) {
	&:nth-child(odd) {
	  padding-right: 30px;
	}

	&:nth-child(even) {
	  padding-left: 30px;
	}
	width: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 30px;
	justify-content: center;

  }

  &:first-child {
	@media (min-width: $tablet-width) {
	}
  }
  &:nth-child(2) {
	display: none;

	@media (min-width: $small-screen) {
	  display: flex;
	}
  }
  &:nth-child(n+3) {
	display: none;
	@media (min-width: $tablet-width) {
	  display: flex;
	}
  }
}

.post-widget__title {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 14px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
	flex-grow: 0;
	font-size: 1.25vw;
  }

  @media (min-width: $large-desktop-width) {
	font-size: 20px;
  }
}

.post-widget__title-link {
  font-family: $fonts-secondary;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: var(--widget-text-color);

  @media(min-width: $lg-screen) {
	font-weight: 600;
  }

  @media(min-width: $xl-screen) {
	font-weight: 700;
  }

  &:hover {
	color: var(--widget-text-color);
	text-decoration: inherit;
	border-bottom-width: 0.5px;
	border-bottom-style: solid;
	border-bottom-color: var(--hover-links-border-color);
  }
}

.post-widget__footer {
  margin-top: 3px;
  font-size: 12px;
  line-height: 15px;
  font-family: $fonts-primary;
  color: inherit;
  span:nth-of-type(2) {
	margin-left: 10px;
  }
}

.post-widget__date {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
}

.post-widget__comments-count {
  margin-left: 2px;
  min-width: 83px;
  display: inline-block;
  vertical-align: middle;
}

//.post-widget__date {
//  margin-left: 10px;
//}
.post-widget__img-wrapper {
  padding-bottom: 20px;
}

.post-widget-link-wrapper a {
  margin-bottom: 5px;

}

