.related-articles-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 25px;
  &::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	background-color: var(--dividing-line-color);
  }
}

.related-articles-wrap {
  .related-title {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	font-size: 14px;
	line-height: 30px;
	font-family: var(--fonts-secondary);
	font-weight: bold;
	color: inherit;
  }
  .related-article-prev, .related-article-next {
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	//margin-left: 5px;
	//margin-right: 5px;
	padding: 0;
  }
  .related-article-prev {
	margin-right: 10px;
  }
  .related-article-prev::before {
	content: "\f060";
  }
  .related-article-next::before {
	content: "\f061";
  }

  .related-article-prev::before, .related-article-next::before {
	//position: absolute;
	//top: 50%;
	//right: 0;
	//transform: translateY(-50%);
	font-family: "FontAwesome";
	font-weight: 900;
	color: #ddd;
	border: 2px solid #ddd;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .post-widget__img-item {
	width: 100%;
  }
  .slick-list {
	margin: 0 -15px;
  }
  .slick-slide > div {
	padding: 0 15px;
  }
  .slick-dots li button:before {
	border-radius: 50%;
	font-size: 0;
	background-color: var(--active-word);
  }
}

.nav-links {
  margin-bottom: 0 !important;
}

.related-arrows {
  position: absolute;
  right: 15px;
  top: 0;
}
