.sidebar {
  will-change: min-height;

}

.sidebar__inner {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  //flex-direction: column;
  //@media (min-width: $tablet-width) {
	//flex-direction: unset;
  //}
}

.sidebar-parent {
  .sidebar {
	order: 2;
	@media (min-width: $tablet-width) {
	  order: unset;
	}
  }
}
