.sidebar {
  will-change: min-height;
  min-height: 100vh;

  h2 {
	font-family: var(--fonts-secondary);
	background-color: $text-color-dark;
	color: #fff;
	padding: 10px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 30px;
	@media (min-width: $tablet-width) {
	  flex-grow: 0;
	  //font-size: 1.25vw;
	}

	@media (min-width: $large-desktop-width) {
	  //font-size: 20px;
	}
  }
  //.widget_bcn_advertise_widget {
  //margin-bottom: 0;
  //
  //}
}

.sidebar__inner {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  //flex-direction: column;
  //@media (min-width: $tablet-width) {
  //flex-direction: unset;
  //}
}

.sidebar-parent {
  .sidebar {
	order: 2;
	@media (min-width: $tablet-width) {
	  order: unset;
	}
  }
}

//.Container {
//  //width: 360px;
//}
