.social {

  &--right-bottom {

	display: flex;
	width: 100%;
	justify-content: center;
	border-top: 1px solid rgba($text-color-dark, 0.1);
	padding-top: 30px;
	padding-bottom: 10px;

	@media (min-width: $small-screen) {
	  margin-left: 96%;
	}

	@media (min-width: $tablet-width) {
	  padding: 0;
	  border: none;
	  width: auto;
	  display: flex;
	  position: fixed;
	  bottom: 30px;
	  margin-left: calc(100% - 20px);
	  transform: translateX(-100%);
	  flex-direction: column;
	}

	@media (min-width: $desktop-width) {
	  margin-left: $desktop-width - 20px;
	}

	@media (min-width: $large-desktop-width) {
	  margin-left: $large-desktop-width - 20px;
	}

  }
  &--right-translate {
	@media (min-width: $tablet-width) {
	  transform: translateX(-50%);
	}
  }
}

.social__list {

  @include indents-zero;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {

	flex-direction: column;
	align-items: center;
	list-style: none;
  }

}

.social__item {
  margin-bottom: 20px;
  list-style: none;
}

.social__img-icon {
  font-size: 12px;
  position: relative;
  z-index: 11;
}

.social__link {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--sidebar-text-color);
  position: relative;
  transition: all ease 0.1s;
  .data-uk-icon {

	z-index: 10;
  }
  svg {
	width: 15px;
	height: 15px;
  }
  &:hover {
	color: $text-color-white;
  }
  &::after {
	content: "";
	height: 100%;
	position: absolute;
	width: 0;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	transition: all ease-in 0.1s;
  }

  &:hover::after {
	width: 100%;
	height: 100%;
	opacity: 1;
  }

  &--twitter::after {
	background: #55acee;
  }

  &--facebook::after {
	background: #3b5999;
  }
  &--instagram::after {
	background: #e4405f;
  }
  &--linkedin::after {
	background: #0077B5;
  }
  &--skype::after {
	background: #00AFF0;
  }
  &--vk::after {
	background: #4c75a3;
  }
  &--googleplus::after {
	background: #dd4b39;
  }
}

// vertical

.social__vertical-list {
  @include indents-zero;
  justify-content: space-between;
  list-style: none;
  display: none;

  @media (min-width: $small-screen) {
	display: flex;
	margin-right: 60px;
  }
  @media (min-width: $tablet-width) {
	margin-right: unset;
	flex-wrap: wrap;
	align-content: space-between;
	flex-grow: 1;
  }

  &--hide {
	display: none !important;
  }
}

.social__vertical-item {

  @media (min-width: $tablet-width) {
	flex-basis: 50%;
	padding-top: 24px;
	padding-bottom: 24px;

	&:nth-child(odd) {
	  padding-left: 14px;
	  @media (min-width: $desktop-width) {
		padding-left: 28px;
	  }
	}

	&:nth-child(even) {
	  padding-right: 14px;
	  display: flex;
	  justify-content: flex-end;
	  @media (min-width: $desktop-width) {
		padding-right: 28px;
	  }
	}
  }
}

.social__vertical-link {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--sidebar-text-color);
  position: relative;
  transition: all ease 0.1s;
  .uk-icon {

	z-index: 10;
  }
  svg {
	width: 15px;
	height: 15px;
  }
  &:hover {
	color: $text-color-white;
  }
  &::after {
	content: "";
	height: 100%;
	position: absolute;
	width: 0;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	transition: all ease-in 0.1s;
  }

  &:hover::after {
	width: 100%;
	height: 100%;
	opacity: 1;
  }

  &--twitter::after {
	background: #55acee;
  }

  &--facebook::after {
	background: #3b5999;
  }
  &--instagram::after {
	background: #e4405f;
  }
  &--linkedin::after {
	background: #0077B5;
  }
  &--skype::after {
	background: #00AFF0;
  }
  &--vk::after {
	background: #4c75a3;
  }
  &--googleplus::after {
	background: #dd4b39;
  }
}

.social__vertical-img-icon {
  font-size: 12px;
  color: inherit;
  position: relative;
  z-index: 11;
}

// horizontal

.social__horizontal-list {
  @include indents-zero;

  display: flex;

  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;

  &--align-right {
	justify-content: flex-end;
	padding-top: 40px;
	padding-bottom: 40px;
  }

}

.social__horizontal-item {
  padding-left: 10px;
}

.social__horizontal-link {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--sidebar-text-color);
  position: relative;
  transition: all ease 0.1s;
  .uk-icon {

	z-index: 10;
  }
  svg {
	width: 15px;
	height: 15px;
  }
  &:hover {
	color: $text-color-white;
  }
  &::after {
	content: "";
	height: 100%;
	position: absolute;
	width: 0;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	transition: all ease-in 0.1s;
  }

  &:hover::after {
	width: 100%;
	height: 100%;
	opacity: 1;
  }

  &--twitter::after {
	background: #55acee;
  }

  &--facebook::after {
	background: #3b5999;
  }
  &--instagram::after {
	background: #e4405f;
  }
  &--linkedin::after {
	background: #0077B5;
  }
  &--skype::after {
	background: #00AFF0;
  }
  &--vk::after {
	background: #4c75a3;
  }
  &--googleplus::after {
	background: #dd4b39;
  }
}

.social__horizontal-img-icon {
  font-size: 12px;
  color: inherit;
  position: relative;
  z-index: 11;
}

.addtoany_shortcode {
  //padding-top: 30px;
  padding-bottom: 30px;

  .addtoany_list a, .widget .addtoany_list a {
	padding: 0;
  }
  .addtoany_list a:not(:first-of-type), .widget .addtoany_list a:not(:first-of-type) {
	padding: 0 4px;
  }
  .addtoany_list a:not(.addtoany_special_service) > span {
	border-radius: 0;
  }
}
