/**********************

globals

 ************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $fonts-secondary;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
}

a {
  text-decoration: none;
  &:hover {
	text-decoration: inherit;
	color: inherit;
  }

}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/**********************

visually-hidden

 ************************/

.visually-hidden:not(:focus):not(:active), .vh:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.promary-font {

  font-family: $fonts-primary;
}

.secondary-font {

  font-family: $fonts-secondary;
}

.section-divider {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 40px 30px !important;

  @media (min-width: $tablet-width) {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 80px 40px !important;
  }
  &--mobile-top-reset {
	padding-top: 0 !important;
	margin-top: 0 !important;
	@media (min-width: $tablet-width) {
	  padding: 80px 40px !important;
	}
  }
}

.pb {
  padding-bottom: 40px !important;
  @media (min-width: $tablet-width) {
	padding-bottom: 80px !important;
  }
}

.mt-remove-mobiles {
  margin-top: 0 !important;
  @media (min-width: $tablet-width) {
	margin-top: unset;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-left {
  justify-content: flex-start !important;
}

.justify-right {
  justify-content: flex-end !important;
}

a#inifiniteLoader {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  //display: none;

  & img {
	width: 25px;
	height: 25px;
	margin-left: 20px;
	margin-right: 20px;
  }
}

.cube-after {
  &::after {
	content: "";
	width: 3px;
	height: 3px;
	display: inline-block;
	background-color: #ddd;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
	margin-top: -3px;
  }
}

.body-right-margin {
  @media (min-width: $tablet-width) {
	margin-right: 5%;
  }
}

.pt-30 {
  padding-top: 30px !important;
}

#cancel-comment-reply-link {
  padding: 2px 5px;
  font-size: 10px;
  font-family: $fonts-secondary;
  font-weight: bold;
  color: $text-color-white;
  background: var(--active-word);
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  line-height: 20px;
  margin-bottom: 15px;
  &:hover {
	color: $text-color-white;
  }

  &::before {
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	content: " ";
	background: $background-white;
	opacity: 0.3;
	transition: all 0.3s;
  }

  &:hover::before {
	width: 100%;
  }
}
.show-on {

  &--mobile {
	display: block;
	@media (min-width: $tablet-width) {
	  display: none;
	}

  }
  &--desktop {
	display: none;
	@media (min-width: $tablet-width) {
	  display: block;
	}
  }
}
.entry-content {
  font-family: $fonts-primary;
}
