
/******************************************

Common colours themes

*******************************************/

:root {
  @include html-vars(header-icon-color, $text-color-white);
  @include html-vars(header-icon-color-hover, $text-color-white);
  @include html-vars(active-word, $text-color-blue);
}

:root {

  //flip-page colours
  @include html-vars(flip-text-color, $text-color-white);
  @include html-vars(flip-background, $background-dark);
  @include html-vars(flip-link-active, $text-color-header-blue);


  //nav lvl2 colours
  @include html-vars(subnav-background, rgba($background-dark,0.95));

  //header colours
  @include html-vars(header-background, $background-dark);
  @include html-vars(header-text-color, $text-color-white);

  //main block colours
  @include html-vars(main-background, $background-dark);
  @include html-vars(content-background, $background-white);
  @include html-vars(main-text-color, $text-color-dark);

  //vertical sidebar colours
  @include html-vars(sidebar-background, $background-dark);
  @include html-vars(sidebar-text-color, $text-color-white);

  //control colours
  @include html-vars(control-background, $background-white);
  @include html-vars(control-text-color, $text-color-dark);
  @include html-vars(control-border-color, $line-grey);

  //dividing line color
  @include html-vars(dividing-line-color, $line-grey);

  //author color
  @include html-vars(author-color, $text-color-blue);

  //social link color
  @include html-vars(social-link-color, $text-color-blue);

  //weather color
  @include html-vars(weather-num-color, $text-color-red);
  @include html-vars(weather-location-color, $text-color-white);
}
