.author-box-container {
  position: relative;
  padding-top: 30px;
  width: 100%;

  &::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	background-color: var(--dividing-line-color);
  }
}

.author-box-wrap {
  h2, .up-author-name a {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 30px;
	font-family: var(--fonts-secondary);
	font-weight: bold;
	color: inherit;
  }

  .up-author-url {
	font-size: 10px;
	font-style: italic;
	//margin-top: 5px;
	margin-bottom: 16px;
	text-align: center;

	@include media-breakpoint-up(sm) {
	  text-align: left;
	}

	& a:hover {
	  text-decoration: underline;
	  color: var(--active-word);
	}
  }

  .up-author-name {
	text-align: center;

	@include media-breakpoint-up(sm) {
	  text-align: left;
	}

	a {
	  &:hover {
		text-decoration: underline;
	  }
	}
  }

  .up-author-description {
	font-size: 12px;
	line-height: 21px;
	color: #626262;
	margin-bottom: 5px;
	text-align: center;

	@include media-breakpoint-up(sm) {
	  text-align: left;
	}
  }

  .up-author-social {
	//margin-bottom: 10px;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: center;

	@include media-breakpoint-up(sm) {
	  padding-top: 0;
	  padding-bottom: 0;
	  //margin-top: 9px;
	  justify-content: flex-end;
	}
  }

  .up-author-social .up-social-icon-wrap {
	display: flex;
  }
  .up-author-img {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;

	@include media-breakpoint-up(sm) {
	  text-align: left;
	  padding-bottom: 0;
	}
  }
  .up-author-social .up-social-icon-wrap a {
	min-width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
	  color: var(--active-word);
	}
  }
  .up-author-ava {
	padding-top: 15px;
  }
}

// TODO: tmp remove this

.nav-links {
  margin-bottom: 0 !important;
}
