.flip-block {
  min-height: 100%;
  max-height: 100%;
  top: 0;
  position: fixed;
  right: 0;
  transition: all 0.3s;
  background: var(--flip-background);
  color: var(--flip-text-color);
  z-index: 501;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  text-align: right;
  transform: translateX(100%);
  overflow-y: scroll;
  //padding-top: 80px;
  left: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
	padding: 40px;
	left: 50%;
	width: 50%;
  }

  &--large {
	@media (min-width: $tablet-width) {
	  padding: 40px;
	  left: 45%;
	  width: 55%;
	}
  }

  &--open {
	transform: translateX(0);
	opacity: 1;
	visibility: unset;
	display: flex;
	align-items: flex-start;
  }

  ul li {
	list-style: none;
  }
  .post-widget__item:nth-child(odd), .post-widget__item:nth-child(even) {
	padding-right: 0;
  }
  .a2a_svg {
	background-color: transparent !important;
  }

  .menu {
	display: flex;
	flex-direction: column;

	a {
	  font-size: 29px;
	  line-height: 1.3;

	  &:hover::before {
		width: 40%;
	  }
	  &:after {
		content: "";
		display: inline-block;
		background-color: #ffffff;
		width: 50px;
		height: 1px;
		margin-bottom: 8px;
		margin-left: 10px;

	  }
	}
	.sub-menu {
	  @media (min-width: $tablet-width) {
		display: block;
		position: relative;
		top: 5px;
		height: auto;
		margin-right: 30px;
		margin-top: 5px;
		padding-top: 8px;
		padding-bottom: 8px;

		transform: translateY(0);
	  }

	  & > li > a {
		font-size: 16px;
	  }

	  & > li > a:after {
		content: "";
		display: inline-block;
		background-color: #ffffff;
		width: 10px;
		height: 1px;
		margin-bottom: 4px;
		margin-left: 5px;
		transition: all ease-out 0.3s;
	  }
	  & > li > a:hover:after {
		content: "";
		display: inline-block;
		background-color: #ffffff;
		width: 15px;
		height: 1px;
		margin-bottom: 4px;
		margin-left: 5px;
	  }

	  & > li > a:before {
		display: none;
	  }

	  & > li > a:hover:before {
		display: none;
	  }
	}
  }

  h1, h2, h3, h4, h5, h6 {
	font-family: var(--fonts-secondary);
	font-weight: bold;
	color: inherit;
  }
  .about_widget_txt {
	margin-top: 20px;
  }
}

.flip-block__wrapper {
  margin-right: auto;
  width: 100%;
  overflow-y: scroll;
  //padding: 30px;
  padding-top: 30px;
  @media (min-width: $tablet-width) {
	padding: 60px;
  }
  & .button {
	@media (max-width: $mobile-width-only) {
	  text-align: center;
	  min-width: 200px;
	  //margin-bottom: 20px;
	}
  }
}

.flip-block__nav-item {
  font-family: $fonts-secondary;
  font-size: 25px;
  color: var(--flip-text-color);
  text-align: right;
  line-height: 35px;
  padding-bottom: 15px;
  list-style: none;
}

.flip-block__nav-link {
  color: inherit;
  &:hover {
	text-decoration: underline;
  }
  &--active {
	color: var(--flip-link-active);
  }
}

.widget-title {
  color: inherit;
}
