.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--header-background);
  font-family: var(--fonts-primary);

  .social-listing {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	li {
	  //border-radius: 50%;
	  border: 1px solid #eaeaea;
	  list-style: none;
	  margin-left: 5px;
	  margin-right: 5px;
	  transition: all ease-in 0.3s;
	  &:hover {
		opacity: 0.6;
		transition: all ease-in 0.3s;
	  }
	  a {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	}
  }
  &::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
  }
  .footer-contacts {
	a {
	  color: inherit;
	  &:hover {
		color: var(--active-word);
	  }
	}
  }
  a {
	color: inherit;
  }
  &.footer-first {
	background-color: #0e0e0e;
	color: #eaeaea;
	.footer-txt {
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin-left: 10%;
	  margin-right: 10%;
	  @media (min-width: $small-screen) {

		margin-left: 30%;
		margin-right: 30%;
	  }
	}
	.footer-logo {
	  margin-bottom: 50px;
	  @media (min-width: $tablet-width) {
		margin-bottom: 30px;
	  }
	}

	.social-listing {
	  margin-top: 40px;

	}
  }
  &.footer-second {

	background-color: #0e0e0e;
	color: #eaeaea;

	@media (min-width: $tablet-width) {
	  padding-left: 50px;
	  padding-right: 50px;
	}

	& + .sub-footer {
	  padding-left: 50px;
	  padding-right: 50px;
	}
	.footer-second-row {
	  align-items: center;
	}

	.footer-txt {

	}
	.column-1, .column-2, .column-3 {
	  align-items: center;
	}
	.column-1 {
	  text-align: center;
	  @media (min-width: $tablet-width) {
		text-align: unset;
	  }
	}
	.column-2 {
	  text-align: center;
	  margin-bottom: 20px;
	  @media (min-width: $small-screen) {
		text-align: left;
		margin-bottom: unset;
	  }
	}
	.column-3 {
	  @media (min-width: $tablet-width) {
		display: flex;
		justify-content: flex-end;
	  }

	  .social-listing {
		justify-content: center !important;
		@media (min-width: $tablet-width) {
		  justify-content: unset;
		}
	  }
	}
	.footer-logo {
	  margin-bottom: 50px;
	  @media (min-width: $tablet-width) {
		margin-bottom: 0;
	  }
	}
  }

  &.footer-third {

	background-color: #0e0e0e;
	color: #b7b6b5;
	padding: 30px;

	@media (min-width: $tablet-width) {
	  padding: 0;
	  padding-top: 50px;
	}
	.section-first {
	  padding-bottom: 30px;
	}
	.footer-logo {
	  margin-bottom: 50px;
	  @media (min-width: $tablet-width) {
		margin-bottom: 30px;
	  }
	}
	.column-1 {

	  @media (min-width: $tablet-width) {
		padding-left: 10%;
		padding-right: 240px;

		justify-content: center;
		display: flex;
		flex-direction: column;
	  }

	}
	.column-2 {
	  @media (min-width: $tablet-width) {
		padding-right: 30px;
	  }
	}
	.column-3 {
	  @media (min-width: $tablet-width) {
		padding-left: 30px;
	  }
	}

	.column-4 {
	  background-color: #ffffff;
	  color: #212121;
	  display: flex;
	  align-items: center;
	  font-size: 12px;
	  padding: 20px;
	  justify-content: center;

	  @media (min-width: $tablet-width) {
		padding: 20px 20px 20px 10%;
		justify-content: unset;

	  }
	  em {
		font-size: 45px;
		color: inherit;
		line-height: 1;
		font-family: var(--fonts-secondary);
		font-weight: 600;
		font-style: normal;
		margin-right: 20px;
	  }
	}
	.social-listing {
	  padding-top: 20px;
	  padding-bottom: 20px;

	  @media (min-width: $tablet-width) {
		padding: 20px;
	  }
	  justify-content: flex-start;
	  li {
		border-radius: 0;
	  }
	}

	.footer-widget-menu {

	  margin: 0;
	  padding: 0;
	  list-style: none;

	  li {
		padding-bottom: 10px;
		list-style: none;
		font-family: var(--fonts-primary);
		font-size: 12px;
		&::before {
		  content: "";
		  display: inline-block;
		  height: 1px;
		  width: 7px;
		  background-color: #fff;
		  margin-right: 5px;
		  margin-bottom: 4px;
		  transition: all ease-out 0.2s;
		}
		&:hover {
		  &::before {
			content: "";
			display: inline-block;
			height: 1px;
			width: 10px;
			background-color: #fff;
			margin-right: 5px;
			margin-bottom: 4px;
			transition: all ease-out 0.2s;
		  }
		}
	  }
	}

	h3 {
	  line-height: 1.3;
	  position: relative;
	  font-family: var(--fonts-secondary);
	  color: #fff;
	  padding: 10px 10px 10px 0;
	  font-size: 13px;
	  font-weight: 700;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  margin-bottom: 20px;

	  &::after {
		content: "";
		position: absolute;
		left: 0;
		width: 35px;
		height: 1px;
		background-color: #cccccc;
		bottom: 0;

	  }
	}
	.footer-txt {

	}
  }

}

#sb_instagram {
  padding: 0 !important;

  #sbi_images {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	@media (min-width: $tablet-width) {
	  flex-direction: row;
	  flex-wrap: nowrap;
	}
  }

  .sbi_photo {
	position: relative;
	max-height: 190px;
	@media (min-width: $tablet-width) {
	  max-height: unset;
	}
	&::before, &::after {
	  position: absolute;
	  content: "";
	  opacity: 0;
	  transition: opacity 0.35s, transform 0.35s;
	  top: 5px;
	  right: 5px;
	  bottom: 5px;
	  left: 5px;
	}
	&::before {
	  border-top: 1px solid #fff;
	  border-bottom: 1px solid #fff;
	  transform: scale(0, 1);
	}
	&::after {
	  border-right: 1px solid #fff;
	  border-left: 1px solid #fff;
	  transform: scale(1, 0);
	}
	&:hover::before, &:hover::after {
	  opacity: 1;
	  transform: scale(1);
	}

  }
  #sbi_images .sbi_item {
	width: 50% !important;

	@media (min-width: $small-screen) {
	  width: 33% !important;
	}
	@media (min-width: $tablet-width) {
	  //width: inherit !important;
	}
  }
}

