.main-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;

  &--hor {
	@media (min-width: $tablet-width) {
	  order: 2;
	}
  }
}

.main-nav__hamburger {
  width: 24px;
  position: relative;
  display: block;
  height: 21px;
  cursor: pointer;
  @include button-reset();
  outline: 0;

  @media (min-width: $tablet-width) {
	display: none;
  }
}

.main-nav__hamburger span {
  display: block;
  position: absolute;
  left: 6px;
  height: 3px;
  background: var(--header-text-color);
  transition: all ease-in-out 0.1s;
}

.main-nav__hamburger span:before {
  content: "";
  display: block;
  position: absolute;
  left: -6px;
  height: 3px;
  width: 3px;
  background: var(--header-text-color);
  border-radius: 100%;
  transition: all ease-in-out 0.1s;
}

.main-nav__hamburger span:nth-of-type(1) {
  width: 89%;
  top: 0;
}

.main-nav__hamburger span:nth-of-type(2) {
  width: 71%;
  top: 6px;
}

.main-nav__hamburger span:nth-of-type(3) {
  width: 62%;
  top: 12px;
}

.main-nav__hamburger span:nth-of-type(4) {
  width: 80%;
  top: 18px;
}

.main-nav__hamburger:hover span:nth-of-type(1) {
  width: 100%;
}

.main-nav__hamburger:hover span:nth-of-type(2) {
  width: 82%;
}

.main-nav__hamburger:hover span:nth-of-type(3) {
  width: 73%;
}

.main-nav__hamburger:hover span:nth-of-type(4) {
  width: 91%;
}

.main-nav__hamburger.active span {
  top: 10px;
  left: 4px;
  width: 25px !important;
  background: var(--header-text-color);
  transform: rotate(45deg);
}

.main-nav__hamburger.active span:before {
  left: 0;
  transform: rotate(90deg);
  width: 100%;
  border-radius: 0;
  background: var(--header-text-color);
}

.main-nav__logo {
  font-size: 30px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: 200ms;
  @include indents-zero;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -10px;

  &:hover {
	opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
	line-height: 40px;
	position: relative;
	top: auto;
	left: auto;
	transform: none;
	margin-top: unset;
  }
}

.menu-item a {
  position: relative;
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
	&::before {
	  content: "";
	  position: absolute;
	  z-index: 200;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  height: 1px;
	  width: 0%;
	  opacity: 0.8;
	  background-color: var(--header-text-color);
	  transition: all ease-in 0.3s;
	}
	&:hover::before {
	  width: 100%;
	}
  }
}

.menu-item-has-children a {
  display: block;
  @media (min-width: $tablet-width) {
	display: inline;
  }
}

.menu-item {
  position: relative;
  display: inline;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 10px;
  list-style: none;
  white-space: nowrap;

  //@media (max-width: $mobile-width-only) {
	//&--opened, &-opened {
	//  padding-bottom: 0;
	//}
  //}

  @media (min-width: $tablet-width) {
	& .sub-menu .current-menu-item > a::before {
	  position: relative;
	  display: inline-block;
	  margin-bottom: 4px;
	  background: var(--header-text-color);
	  width: 10px;
	  transition: 0.5s;
	  margin-right: 5px;

	}
	//&.current-menu-item > a::before, &.current-menu-parent > a::before {
	//  content: "";
	//  position: absolute;
	//  z-index: 200;
	//  left: 0;
	//  right: 0;
	//  bottom: 0;
	//  height: 1px;
	//  width: 100%;
	//  background-color: var(--header-text-color);
	//  transition: all ease-in 0.3s;
	//  opacity: .3;
	//}
  }
}

.menu {
  position: relative;
  flex-wrap: wrap;
  display: none;
  flex-direction: column;
  @include indents-zero;
  margin-top: 50px;
  width: 100%;
  text-transform: uppercase;

  .sub-menu .sub-menu {
	position: relative;
	top: 0;
  }

  @media (min-width: $tablet-width) {
	@include indents-zero;
	margin-top: 10px;
	flex-direction: row;
	justify-content: center;
	text-transform: none;
	display: flex;
  }

  @media (min-width: $desktop-width) {
	justify-content: center;
	//margin-left: 27.8%;
  }

}

.menu-opened, .menu-nojs, .menu-wrapper-opened, .menu-wrapper-nojs, .menu-item-has-children-opened .sub-menu {
  display: flex !important;
}

.menu ul {
  @include indents-zero;
  margin-top: 5px;
  text-transform: none;
}

.sub-menu {
  position: unset;
  width: 100%;
  height: 0;
  padding: 0;
  z-index: 100;
  left: 0;
  overflow: hidden;
  transform: translateY(-10px);
  background: var(--header-background);

  @media (min-width: $tablet-width) {
	position: absolute;
	min-width: 300px;
  }
}

.menu-item-has-children-opened .sub-menu {
  padding-top: 10px;
  height: auto;
  flex-direction: column;
}

.sub-menu a {
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.375em;
  padding-left: 8px;

  &:hover {
	opacity: 0.7;
  }
}

.menu-wrapper-nojs .sub-menu,
.menu-wrapper-opened .sub-menu {
  display: block;
  opacity: 1;
  top: 23px;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  //background-color: var(--subnav-background);

  @media (max-width: $mobile-width-only) {
	padding-bottom: 0;
  }
}

.sub-menu .menu-item {
  display: flex;
  flex-direction: column;
  color: inherit;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .menu-item-has-children:hover .sub-menu {
	display: block;
	transform: translateY(0);
	transition: 0.3s;
	opacity: 1;
	top: 24px;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	//background-color: var(--subnav-background);
	z-index: 200;
  }

  .sub-menu a:before {
	position: relative;
	display: inline-block;
	width: 0;
	margin-bottom: 4px;
	background: var(--header-text-color);
  }

  .sub-menu a:hover::before {
	width: 10px;
	transition: 0.5s;
	margin-right: 5px;
  }
}

.menu-item .sub-menu .sub-menu {
  top: 0 !important;
  background-color: transparent !important;
}
