.main-nav-vertical__hamburger {
  width: 24px;
  position: relative;
  display: block;
  height: 21px;
  cursor: pointer;
  @include button-reset();
  outline: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }


  span {
	display: block;
	position: absolute;
	left: 6px;
	height: 3px;
	background: var(--header-text-color);
	transition: all ease-in-out 0.1s;
  }

  span:before {
	content: "";
	display: block;
	position: absolute;
	left: -6px;
	height: 3px;
	width: 3px;
	background: var(--header-text-color);
	border-radius: 100%;
	transition: all ease-in-out 0.1s;
  }

  span:nth-of-type(1) {
	width: 89%;
	top: 0;
  }

  span:nth-of-type(2) {
	width: 71%;
	top: 6px;
  }

  span:nth-of-type(3) {
	width: 62%;
	top: 12px;
  }

  span:nth-of-type(4) {
	width: 80%;
	top: 18px;
  }

  :hover span:nth-of-type(1) {
	width: 100%;
  }

  :hover span:nth-of-type(2) {
	width: 82%;
  }

  :hover span:nth-of-type(3) {
	width: 73%;
  }

  :hover span:nth-of-type(4) {
	width: 91%;
  }

  .active span {
	top: 10px;
	left: 4px;
	width: 25px !important;
	background: var(--header-text-color);
	transform: rotate(45deg);
  }

  .active span:before {
	left: 0;
	transform: rotate(90deg);
	width: 100%;
	border-radius: 0;
	background: var(--header-text-color);
  }
}

.main-nav-vertical {
  /*   position: relative; */
  display: flex;
  flex-direction: column;
}

.main-nav-vertical .main-nav__list.main-nav__wrapper {
  /* position: relative; */
  display: none;
  flex-direction: column;
  @include indents-zero;
  padding-top: 30px;
  /* width: 100%; */
  text-transform: uppercase;

  &--opened, &--nojs {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    @include indents-zero;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
  }
}

.main-nav-vertical .menu-item  {
  position: relative;
  display: flex;
  flex-direction: column;
  //margin-right: 14px;
  //margin-left: 14px;
  list-style: none;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
	//&.sub-menu .current-menu-item > a::before {
	//  position: relative;
	//  display: inline-block;
	//  margin-bottom: 4px;
	//  background: var(--header-text-color);
	//  width: 10px;
	//  transition: 0.5s;
	//  margin-right: 5px;
	//}
	//&.current-menu-item > a::before, &.current-menu-parent > a::before {
	//  content: "";
	//  position: absolute;
	//  z-index: 200;
	//  left: 0;
	//  right: 0;
	//  bottom: 0;
	//  height: 1px;
	//  width: 100%;
	//  opacity: 0.8;
	//  background-color: var(--header-text-color);
	//  transition: all ease-in 0.3s;
	//}

    .menu-item-has-children {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 10px;
    }
  }

}

.main-nav-vertical .menu-item a {
  font-size: 14px;
  line-height: 1.375em;
  //line-height: 30px;
  color: var(--header-text-color);
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-weight: 700;
  }
}

.main-nav-vertical .main-nav__list {

  @media (min-width: $tablet-width) {
    /*     display: flex;
        flex-direction: column !important;
        align-items: center;
        list-style: none;
        width: 100%; */

    .sub-menu {
      //@include indents-zero;
	  margin: 0;
      //padding-left: 8px;
      //padding-right: 8px;
      left: 100%;
      top: -7px !important;
    }


  }
}

.main-nav-vertical > .main-nav__list > .menu-item {
  padding-left: 34px;
  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.main-nav-vertical .menu-item-has-children {
  min-width: 100%;
  text-align: left;
  @media (min-width: $tablet-width) {
    display: inline;
    text-align: center;
    padding-left: 0;
  }
}

.main-nav-vertical .sub-menu {

  @media (min-width: $tablet-width) {
    position: absolute;
    min-width: 300px;
  }
}

.main-nav-vertical .menu-item  a {
  @include indents-zero;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}

.main-nav-vertical .sub-menu a {
  font-weight: 400 !important;
  text-align: left;
}
