.post-block-05 {
  width: 100%;
  //height: 100%;
  //right: 0;
  //bottom: 0;
  //top: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
	overflow: hidden;
	flex-basis: 0;
	flex-grow: 1;
	bottom: unset;
	top: unset;
	padding: 30px;
  }
  .advertise {
  padding-bottom: 30px;
  @media (min-width: $tablet-width) {
	padding-bottom: 50px;
  }
}
}

.post-block-05__wrapper {
  position: relative;

}

.post-block-05__img {
  @include indents-zero;
  overflow: hidden;
  height: 100%;
  @media (min-width: $tablet-width) {

	height: 100vh;
  }
}

.post-block-05__img-item {
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: cover;

  @media (min-width: $tablet-width) {
	height: 100%;
  }
}

.post-block-05__wrapper-link {
  text-align: right;
  order: 1;
}

.post-block-05__item {
  position: absolute;
  //width: 100%;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba($background-white, 0.8);
  min-height: 200px;

  @media (min-width: $tablet-width) {
	width: 43%;
	bottom: 50px;
	right: 50px;
	left: unset;
	min-height: unset;
  }
}

.post-block-05__date {
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 12px;
  font-family: $fonts-primary;
  color: var(--widget-text-color);
  transform: rotate(90deg);
  transform-origin: 0 0;

  @media (min-width: $tablet-width) {
	left: -10px;
  }
}

.post-block-05__date-wrapper {
  @include indents-zero;

  a {
	position: relative;
	color: inherit;

	&:after {
	  content: "";
	  position: absolute;
	  display: flex;
	  opacity: 0;
	  bottom: -3px;
	  left: 0;
	  height: 2px;
	  background-color: var(--active-word);
	  width: 2px;
	  transition: all ease-out 0.3s;
	}
	&:hover {
	  &:after {
		content: "";
		opacity: 1;
		width: 100%;
		transition: all ease-out 0.3s;
	  }
	}
  }
}

.post-block-05__header {
  @include indents-zero;
  text-align: right;
  order: 2;
  padding-top: 30px;
  line-height: 1.333;
  font-size: 16px;

  @media (min-width: $tablet-width) {
	font-size: 1.9vw;
  }

  @media (min-width: $large-desktop-width) {
	font-size: 30px;
  }
}

.post-block-05__header-link {
  font-family: $fonts-secondary;
  color: var(--widget-text-color);
  font-weight: bold;
  text-decoration: none;
  @include links-decoration(rgba($text-color-dark, 0.8));
  font-size: inherit;
  line-height: inherit;
}

.post-block-05__comments-count {
  order: 3;
  padding-top: 20px;
  text-align: right;
  font-size: 12px;
  margin: 0;
}

.post-block-05__content {
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
  //margin-bottom: -30px;
}
